body {
	background-image: url('../img/friends.jpg');
}

form {
	max-width: 500px;
	background-color: white;
	color: red;
	justify-content: center;
	text-align: center;
	margin: auto;
	padding: 50px;
	opacity: .90;
	font-size: 25px;

}

.container-home {
	background-color: white;
	font-size: 50px;
	color: red;
	text-align: center;
	margin-top: 225px;
	padding-left: -50px;
	padding-right: -50px
}